
.hidden {
    display: none;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*수직 정렬*/
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
#weather {
    font-size: large;
    font-weight: 600;
}
/* login-form */

#login-form div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*수직 정렬*/
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#login-form input {
    width: 500px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    font-size: 40px;
    text-align: center;
    background-color: transparent;
    color: aliceblue;
}

#login-form input::placeholder {
    color: aliceblue;
    border: none;
}

#login-form button {
    margin-top: 10px;
    width: 300px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: x-large;
    text-align: center;
    color: aliceblue;
}

/* greeting */

#greeting {
    font-size: 40px;
    margin-top: 3px;
}

/* clock*/
#clock {
    margin-top: 270px;
    margin-bottom: 0px;
    font-size: 100px;
}
#todo-form {
    margin-top: 0;
}
#todo-form input {
    background-color: transparent;
    width: 800px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}

#todo-form input::placeholder{
    color: aliceblue;
}

#todo-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*수직 정렬*/
    font-size: 30px;
}

#todo-list button{
    background-color: transparent;
    border: none;
    font-size: 30px;

}


#quote {
    margin-top: 230px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*수직 정렬*/
    align-items: center;
    justify-content: center;
}